.colorazul{color: blue;font: size 30px;;}

#colorverde{color: green;font-size: 42px;}
#colorrojo{color: red;font-size: 42px;}
h1,ul,li{color: blue;font-size: 21px;}
h1,ol,li{color: blue;font-size: 21px;}
#coloramarillo{color: yellow;font-size: 42px;}
#colorvioleta{color: violet;font-size: 42px;}
#colormarron{color: brown;font-size: 42px;}
.colorazul{color: blue;font-size: 30px;}
a{color: black;font-size: 21px;}